@import "tailwindcss";
@theme {
      --font-inter:"Inter", sans-serif;
      --font-poppins: "Poppins", sans-serif;
      --max-width-1170:73.125rem;
      --text-60:3.75rem;
      --text-32:2rem;
      --color-primary:#F5F5F5;
      --color-secondary:#DB4444;
      --margin-top:-250px;
      
    }
    li{
      position: relative;
      margin-bottom: 10px;
    }
    li:hover ul{
      display: block;
      padding: 10px;
      border-radius: 10px;
      background-color: #F5F5F5;
      top: 100%;
    }
    .cart-img:hover + .cart{
      display: block !important;
      transition: all 0.4s;
    }
    .categori:hover .categori-card{
      color: white;
    }
    .categori:hover .categori-img{
      color: white;
    }